<div class="container-fluid">
    <div class="justify-content-center ">
        <table style="width:100%" #dataTable class="table table-primary table-striped table-bordered">
            <thead>
                <tr>
                    <th>UR</th>
                    <th>Nombre</th>
                    <th>Coordinador administrativo</th>
                    <th>Director</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
    </div>    
</div>
